/*
Copyright 2009 softgarden GmbH, Valentin Vago (a.k.a. zeropaper)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.dudel-table th,
.dudel-table thead th,
.dudel-table td{
  text-align:center;
  vertical-align:middle;
  border-right-width:1px;
  border-right-style:solid;
}
.dudel-table th{
  padding:0 .5em;
}
.dudel-yes, .dudel-no{
  font-weight:bolder;
  text-transform:uppercase;
}
.dudel-yes{
  background-color:#E5F3B2;
  border:1px solid;
  color:#9CB34A;
}
.dudel-no{
  background-color:#FFF0E3;
  color:#EE7204;
}
